<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--name:名称空间-->
<mapper namespace="com.itheima.mapper.BrandMapper">
<!--
数据库表的字段 和 实体类的属性名称不一样，则不能总动封装数据
    *起别名：
        *缺点：每次查询都需要写一次别名
            *方法，引用sql片段
                *缺点：不灵活
    *resultMap
-->
    
    <resultMap id="brandResultMap" type="brand">
        <result column="brand_name" property="brandName"></result>
<!--        <result column="company_name" property="companyName"></result>-->
    </resultMap>

    <select id="selectAll" resultMap="brandResultMap">
            select
                *
            from tb_brand;
        </select>


<!--
    sql片段
-->

<!--    <sql id="brand_column">-->
<!--        id,brand_name as brandName,company_name as compnayName,ordered,description,status-->
<!--    </sql>-->

<!--    <select id="selectAll" resultType="brand">-->
<!--        select-->
<!--            <include refid="brand_column"/>-->
<!--        from tb_brand;-->
<!--    </select>-->

    <!--    <select id="selectAll" resultType="brand">-->
    <!--        select *-->
    <!--        from tb_brand;-->
    <!--    </select>-->
</mapper>